Repository vmangos/core, pull requests merged in 2024-12, with the labels that each got.

#2580 Fix maul + swipe clearcasting bug
  src/game/Spells/Spell.cpp
  src/game/Spells/Spell.h
Labels: CPP

#2833 Fix an issue were vmap extractor generates duplicate files on some systems
  contrib/vmap_extractor/vmapextract/adtfile.cpp
  contrib/vmap_extractor/vmapextract/gameobject_extract.cpp
  contrib/vmap_extractor/vmapextract/wmo.h
Labels: CPP

#2564 Disable quest Horns of Nez'ra.
  sql/migrations/20240329131510_world.sql
Labels: SQL

#2835 Rewrite Golemagg and fix 'Golemagg's Trust'
  sql/migrations/20241117202208_world.sql
  src/game/Spells/SpellAuras.cpp
  src/scripts/eastern_kingdoms/burning_steppes/molten_core/boss_golemagg.cpp
Labels: CPP, SQL
